{% extends 'webframe.html' %}  {# 导入模板文件 #}
{% block center %}
<body class="login-bg">
    <div class="login">
        <div class="message"> Luger PreSales Framework</div>
        <div id="darkbannerwrap"></div>
              <video id="video" width="350" height="300"></video>
              <hr class="hr15">
              <canvas id="canvas" style="display:none"></canvas>
             <hr class="hr15">
              <input value="用户登陆" lay-submit lay-filter="face" style="width:100%;" type="button" onclick="location.href=/login/">
             <hr class="hr15">
                <p id="demoText"></p>
            <hr class="hr20" >
        </form>
    </div>
</body>
 <script>
   var cp = function(){
                     //1.获取canvas中的图片数据
            //var data = canvas.toDataURL('image/jpeg',0.2);
            ctx.drawImage(video, 0, 0, width, height);
            var data = canvas.toDataURL('image/jpeg');
            data = data.split(',')[1];
            //数据格式转换
            data = window.atob(data);
            var ia = new Uint8Array(data.length);
            for (var i = 0; i < data.length; i++) {
                ia[i] = data.charCodeAt(i);
            }
            var blob = new Blob([ia], { type: 'image/jpeg' });
            //2.提交到服务器
            var fd = new FormData();
            fd.append('file', blob);
            //提交到服务器
            var xhr = new XMLHttpRequest();
            xhr.open('post', '/facelogin/', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                       var data = eval('(' + xhr.responseText + ')');
                       var demoText = $('#demoText');
                       if(data.code==true){
                            window.clearInterval(si);
                            demoText.html('<span style="color: #FF5722;">验证成功</span>');
                            location.href="/findex/";
                            {#setTimeOut(function(){location.href="/login/";},1000);#}

                       }else{
                            demoText.html('<span style="color: #FF5722;">验证失败</span>');
                       }
                } else {
                    //alert(xhr.readyState);
                }
            }
            xhr.send(fd);
  }

  </script>
     <script>
      var video = document.getElementById('video');
      var canvas = document.getElementById('canvas');
      var ctx = canvas.getContext('2d');
      var width = video.width;
      var height = video.height;
      canvas.width = width;
      canvas.height = height;
     $(document).ready(function(){
            var URL = window.URL || window.webkitURL;   // 获取到window.URL对象
            navigator.getUserMedia({
              video: true
            }, function(stream){
              video.src = URL.createObjectURL(stream);   // 将获取到的视频流对象转换为地址
              video.play();   // 播放
            }, function(error){
              console.log(error.name || error);
            });
      });
      var si = setInterval(cp,3000);
    </script>

{% endblock %}