{% extends 'webframe.html' %}  {# 导入模板文件 #}

{% block title %} Luger PreSales Framework{% endblock %}  {# 标题 #}

{% block  center %}
    <!-- 顶部开始 -->
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo"><a href="/index/">Luger PreSales Framework</a></div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>
        <ul class="layui-nav left fast-add" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">+新增</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a onclick="x_admin_show('资讯','http://www.baidu.com')"><i class="iconfont">&#xe6a2;</i>资讯</a></dd>
              <dd><a onclick="x_admin_show('图片','http://www.baidu.com')"><i class="iconfont">&#xe6a8;</i>图片</a></dd>
               <dd><a onclick="x_admin_show('用户','http://www.baidu.com')"><i class="iconfont">&#xe6b8;</i>用户</a></dd>
            </dl>
          </li>
        </ul>
        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">{{ username }}</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a onclick="x_admin_show('消息提醒','http://www.baidu.com')">个人信息</a></dd>
              <dd><a onclick="x_admin_show('切换帐号','http://www.baidu.com')">切换帐号</a></dd>
              <dd><a href="login.html">退出</a></dd>
            </dl>
          </li>
            <li class="layui-nav-item to-index"><a href="javascript:;"  onclick="msgshow()">消息提醒<span class="layui-badge">{{ msgcount }}</span></a></li>

        </ul>

    </div>
    <!-- 顶部结束 -->
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
     <!-- 左侧菜单开始 -->

 <!-- 左侧菜单开始 -->
    <div class="left-nav">
      <div id="side-nav">
        <ul id="nav">
{#        第一级菜单遍历#}
            {% for l1 in menulist %}
                  <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6b8;</i>
                        <cite>{{ l1.menu__text }}</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
{#                    第二级菜单遍历   #}
                      {% for l2 in l1.childmenu  %}
                              <li>
                                    <a _href="{{ l2.menu__url }}">
                                        <i class="iconfont">&#xe6a7;</i>
                                        <cite>{{ l2.menu__text }}</cite>
                                    </a>
                                        {% if 'y' == l2.menu__note %}
                                            <ul class="sub-menu">
                                        {% endif %}
{#                                   第三级菜单#}
                                       {% for l3 in l2.childmenu %}

                                           <li>
                                                <a _href="{{ l3.menu__url }}">
                                                    <i class="iconfont">&#xe6a7;</i>
                                                    <cite>{{ l3.menu__text }}</cite>
                                                </a>
                                            </li >
                                       {% endfor %}
                                        {% if 'y' == l2.menu__note %}
                                            </ul>
                                        {% endif %}
                              </li >
                            {# 三级菜单结束#}
{#                          {% endif %}#}
                      {% endfor %}
                    </ul>
                  </li>
            {% endfor %}
        </ul>
      </div>
    </div>
    <div class="x-slide_left"></div>
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
          <ul class="layui-tab-title">
            <li>我的桌面</li>
          </ul>
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe id="fn1" name='fn1' src='/main/' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
          </div>
        </div>
    </div>
    <div class="page-content-bg"></div>

    <script>
    function msgshow() {
        layer.open({
            type: 2,
            title: '消息提醒',
            shadeClose: true,
            shade: 0.8,
            area: ['480px', '350px'],
            content: '/msglist/' //iframe的url
        });
    }

    </script>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    {% include "content.html" %}
{% endblock %}
