{% extends "webframe.html" %}
{% block title %} Luger PreSales Framework{% endblock %}  {# 标题 #}
{% block center %}
<body>
  <!-- 3 setup a container element -->


      <label class="layui-form-label">名称</label>
      <div class="layui-input-inline"><input class="layui-input "  id="search_ay" /></div>
  <div id="jstree"></div>
  <!-- 4 include the jQuery library -->
<link rel="stylesheet" href="/static/lib/jstree/themes/default/style.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
  <!-- 5 include the minified jstree source -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
  <!-- 5 include the minified jstree source -->
  <script>
  $(function () {
    // 6 create an instance when the DOM is ready
    $('#jstree').jstree({
            'core':{
            "check_callback":function (operation, node, parent, position, more) {
                $.ajax({
                      url: '/orgec/'+operation+"/",
                      type: "post",
                      cache:false,
                      dataType:"json",
                      data: {
                        "pos": position,
                        "orgid":node.id,
                        "text":node.text,
                        "parent":parent.id,
                      },
                      {#traditional: true,//这里设置为true#}
                      success:function(data) {
                          node.id=data;
                          window.location.reload();
                      }
                    });
            },
                'data': {
                "url": '/orgload/',
                "dataType": "json",
                success: function (data) {
                    var arr=tojsontree(data);
                    console.log(JSON.stringify(arr));
                    return arr;
                  }
                }},
                'plugins':['search','state','dnd','contextmenu'],
     });


    // 7 bind to events triggered on the tree
    $('#jstree').on("changed.jstree", function (e, data) {
      console.log(data.selected);
    });
    // 8 interact with the tree - either way is OK
    $('button').on('click', function () {
      $('#jstree').jstree(true).select_node('child_node_1');
      $('#jstree').jstree('select_node', 'child_node_1');
      $.jstree.reference('#jstree').select_node('child_node_1');
    });
  });
  </script>
</body>
{% endblock %}