 {% extends 'webframe.html' %}  {# 导入模板文件 #}

{% block title %} Luger PreSales Framework{% endblock %}  {# 标题 #}

{% block  center %}
<body>
<button id="ocrtest">ocrtest</button>
 <input type="text" id="ocrt"   class="layui-input">
 url:<input type="text" id="url"   class="layui-input">

<script>
    $("#ocrtest").click(function(){
         $.ajax({
                      url: '/ocrai/',
                      type: "post",
                      cache:false,
                      dataType:"json",
                      data: {
                          "url": $("#url").val(),
                      },
                      {#traditional: true,//这里设置为true#}
                      success:function(data) {
                          var arr=data.words_result;
                          var tt="";
                         for ( var i = 0; i <arr.length; i++){
                             tt=tt+"|"+arr[i].words;
                             console.log(arr[i].words);
                         }
                         $("#ocrt").val(tt);
                      }
                    });
    })
</script>

</body>
{% endblock %}