
{% extends 'webframe.html' %}  {# 导入模板文件 #}
{% block  center %}

<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
  <legend>选择文字图片</legend>
</fieldset>


<div class="layui-upload">

<hr class="hr15">

  <button type="button" class="layui-btn layui-btn-normal" id="test8">选择文件</button>
  <button type="button" class="layui-btn" id="test9">开始上传</button>
</div>
  <div class="layui-upload-list">
    <img class="layui-upload-img" id="demo1">
    <p id="demoText"></p>
  </div>
    <textarea id="tarea" rows="10" cols="60"></textarea>
  </div>

</div>

<script>
layui.use('upload', function() {
    var $ = layui.jquery
        , upload = layui.upload;
    //普通图片上传
    var uploadInst = upload.render({
        elem: '#test8'
        ,url: '/upload_ocr/'
        ,size: 180
        ,auto:false
        ,bindAction: '#test9'
        , choose: function (obj) {
            //预读本地文件示例，不支持ie8
            obj.preview(function (index, file, result) {
                $('#demo1').attr('src', result); //图片链接（base64）
            });
        }
        , done: function (res) {
                console.log(res.content);
                $('#tarea').val(res.content);
            {#$('#demo2').attr('src', "/"+res.data); //图片链接（base64）#}
            //上传成功
        }
        , error: function () {
            //演示失败状态，并实现重传
            var demoText = $('#demoText');
            demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
            demoText.find('.demo-reload').on('click', function () {
                uploadInst.upload();
            });
        }
    });
})
</script>
</body>
{% endblock %}